<a href="https://colab.research.google.com/github/JScottLopez/nlp/blob/main/nlp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#Tokenizer Exercise

sentence = """The cow jumped over the moon."""

sentence.split()

['The', 'cow', 'jumped', 'over', 'the', 'moon.']

In [11]:
str.split(sentence)

['The', 'cow', 'jumped', 'over', 'the', 'moon.']

In [17]:
import numpy as np
token_sequence = str.split(sentence)
vocab = sorted(set(token_sequence))
', '.join(vocab)
'cow, jumped, moon, over, The, the'
num_tokens = len(token_sequence)
vocab_size = len(vocab)
onehot_vectors = np.zeros((num_tokens, vocab_size), int)
for i, word in enumerate(token_sequence):
  onehot_vectors[i, vocab.index(word)] = 1
' '.join(vocab)
'cow, jumped, moon , over, The, the'

onehot_vectors

array([[1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 0]])

In [18]:
import pandas as pd
pd.DataFrame(onehot_vectors, columns=vocab)

   The  cow  jumped  moon.  over  the
0    1    0       0      0     0    0
1    0    1       0      0     0    0
2    0    0       1      0     0    0
3    0    0       0      0     1    0
4    0    0       0      0     0    1
5    0    0       0      1     0    0

In [19]:
df = pd.DataFrame(onehot_vectors, columns=vocab)
df[df == 0] = ''
df

  The cow jumped moon. over the
0   1
1       1
2              1
3                         1
4                             1
5                    1